@import 'constant';
@import 'base';

.hidden{display: none;}
.ralign{text-align: right !important;}

body{
  padding-top:42px;
  margin: auto;
  background: $white;
  overflow: hidden;
  height: 100%;
}

.wrapper{
  @include box-shadow;
  background: lighten($gray, 3%);
  border: 1px solid #CCC\9;
}

.logo{
  background-image: image-url('logo2010.jpg');
  height: 110px;
}

footer{
  height: 38px;
  @include background-image(linear-gradient(lighten($gray, 3%), $gray 20%, darken($gray, 20%)));
  border-top: 1px solid darken($gray, 5%);
  color: darken($gray, 15%);
  line-height: 38px;
  .copyright{
    font-size: 12px;
    font-weight: bold;
    color: #555;
    padding: 0px 10px;
  }
  .row-fluid{
    height: 38px;
  }
}

.body-container{
  padding: 10px 10px;
  height:100%;
}

.circle-image{
  margin-top: 6px;
}